{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": ["html"],
    "parserOptions": {
        "ecmaVersion": 13,
        "sourceType": "module"
    },
    "rules": {
        "no-console": "warn",
        "max-len": ["error", { "code": 120, "ignoreUrls": true }],
        "react/react-in-jsx-scope": "off" // Parcel does this automatically.
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}